<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='./static/style_index.css'>
    </head>

    <body>
        <h1>Rebla kod-test</h1>
        <h3 id='by_name'>By David Radianu</h3>
        <div class='main_div'>


        <h3>Click the button to recieve a wonderful compliment</h3>
        <button id="btn" class="button1">Click</button>
        <div id="response"></div>
        </div>
        <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script type="text/javascript">
      $('button#btn').click(function(){
        $.ajax({
            url: "/_get_data/",
            type: "POST",
            success: function(resp){
                $('div#response').replaceWith(resp.data);
            }
        });
      });
  </script>

    </body>
</html>